In [53]:
import pandas as pd

In [54]:
df = pd.read_csv('country_info.csv')

In [3]:
df

,Unnamed: 0,Timestamp,country,start_date,end_date,lockdown_severity,leasure_shopping_prohibited,maximum_together,mentality_grade,government_performance,...,apr_temp,may_temp,jun_temp,july_temp,aug_temp,sept_temp,oct_temp,nov_temp,dec_temp,annual_temp
0,0,4/10/2020 14:03:47,Belgium,3/18/2020,NaN,5.0,1,2.0,7.0,6.0,...,8.145482,12.398000,15.434529,17.238529,17.183294,14.427412,10.678388,5.761971,3.113924,9.514241
1,1,4/15/2020 12:15:09,Croatia,3/18/2020,NaN,8.0,1,NaN,8.0,9.0,...,10.247004,14.759786,17.992071,20.039893,19.667285,16.355071,11.349611,5.959764,1.528573,10.470911
2,2,4/24/2020 8:17:43,Denmark,3/11/2020,NaN,5.0,1,10.0,3.0,5.0,...,5.867971,10.773036,14.401786,15.891429,15.902357,13.007679,9.359057,4.942146,1.645598,7.818978
3,3,4/10/2020 14:02:19,France,3/16/2020,NaN,7.1,1,2.0,7.4,7.4,...,9.096851,12.717758,16.097942,18.603865,18.228694,15.782718,11.746692,6.690055,3.865740,10.543722
4,4,4/15/2020 12:02:17,Germany,3/20/2020,NaN,6.0,1,2.0,7.0,8.0,...,7.687484,12.273226,15.496893,17.188080,16.968642,13.902305,9.431784,4.270517,0.880768,8.504452
5,5,4/10/2020 12:24:15,Ireland,3/24/2020,NaN,6.8,1,3.0,7.8,8.8,...,7.694678,10.073630,12.799054,14.526135,14.276838,12.459108,10.081162,6.610897,5.446403,9.107924
6,6,4/10/2020 20:23:04,Israel,4/2/2020,NaN,9.0,1,4.0,10.0,10.0,...,18.818000,21.895714,24.751714,26.449429,26.681571,25.123857,22.219000,17.569286,13.401857,19.698000
7,7,4/10/2020 14:02:19,Italy,3/10/2020,NaN,8.0,1,1.0,8.0,6.4,...,9.612692,13.777579,17.524698,20.305087,20.144344,17.185813,12.856856,8.012446,4.398412,11.500694
8,8,4/25/2020 15:36:01,Japan,4/7/2020,NaN,5.0,1,NaN,5.0,4.0,...,8.702060,13.524019,17.340918,21.338652,22.744000,18.757239,12.777206,7.053675,1.748080,10.362726
9,9,4/10/2020 12:36:01,United Kingdom,3/23/2020,NaN,7.0,1,2.0,7.5,7.0,...,6.742380,9.815439,12.765885,14.435399,14.286812,12.213888,9.472010,5.524062,3.849172,8.310239
10,10,4/10/2020 10:54:06,Netherlands,3/23/2020,NaN,5.0,0,3.0,7.0,8.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.347350,5.916237,3.490613,9.201738
11,11,4/24/2020 7:53:23,North Macedonia,3/19/2020,4/4/2020,7.0,1,2.0,5.0,7.0,...,9.233964,13.985727,17.421182,19.846727,19.731727,16.310454,10.784882,5.366073,0.732434,9.853518
12,12,4/10/2020 12:46:22,Slovenia,3/16/2020,NaN,7.5,1,2.0,8.0,8.0,...,7.578856,12.163411,15.398967,17.378222,16.942333,13.865478,9.208933,3.580752,-0.791111,8.040211
13,13,4/10/2020 12:03:11,Switzerland,3/17/2020,NaN,8.0,1,5.0,9.0,7.0,...,3.347776,7.440950,10.780000,13.034811,12.544911,10.136311,6.080744,1.052785,-1.959079,4.749057
14,14,4/23/2020 18:32:39,Ukraine,3/15/2020,3/15/2020,5.7,1,2.0,5.3,4.4,...,9.085106,15.090398,18.421490,19.950162,19.344385,14.776107,8.625605,2.807330,-1.976805,8.205566

# Preprocessing

#### Nans

In [55]:
df.isnull().sum()

Unnamed: 0      0
Timestamp       0
country         0
start_date      0
end_date       13
               ..
sept_temp       0
oct_temp        0
nov_temp        0
dec_temp        0
annual_temp     0
Length: 61, dtype: int64

In [56]:
df = df.drop(['end_date','Unnamed: 0'],axis=1)
# df = df.drop(['end_date','Timestamp','Unnamed: 0'],axis=1)

In [57]:
df.columns[df.isna().any()].tolist()

['maximum_together',
 'hosp_beds_per_1000_2017',
 'ICU-CCB_beds_per_100000',
 'sex_male_to_female_total',
 'first_school_closure_date',
 'airport_traffic_2018_thousands']

##### Fil Maximum_together column with highest value

In [58]:
df['maximum_together']

0      2.0
1      NaN
2     10.0
3      2.0
4      2.0
5      3.0
6      4.0
7      1.0
8      NaN
9      2.0
10     3.0
11     2.0
12     2.0
13     5.0
14     2.0
Name: maximum_together, dtype: float64

In [59]:
df['maximum_together'] = df['maximum_together'].fillna(df['maximum_together'].max())

##### Fill 'hosp_beds_per_1000_2017' with mean

In [60]:
df['hosp_beds_per_1000_2017']

0      5.76
1       NaN
2      2.61
3      5.98
4      8.00
5      2.96
6      3.02
7      3.18
8     13.05
9      2.54
10     3.32
11      NaN
12     4.50
13     4.53
14      NaN
Name: hosp_beds_per_1000_2017, dtype: float64

In [61]:
mean = df['hosp_beds_per_1000_2017'].mean()

In [62]:
df['hosp_beds_per_1000_2017'] = df['hosp_beds_per_1000_2017'].fillna(df['hosp_beds_per_1000_2017'].mean())

##### Fill 'ICU-CCB_beds_per_100000' with mean

In [63]:
df['ICU-CCB_beds_per_100000']

0     15.9
1      NaN
2      6.7
3     11.6
4     29.2
5      6.5
6      NaN
7     12.5
8      7.3
9      6.6
10     6.4
11     NaN
12     6.4
13    11.0
14     NaN
Name: ICU-CCB_beds_per_100000, dtype: float64

In [64]:
mean = df['ICU-CCB_beds_per_100000'].mean()
df['ICU-CCB_beds_per_100000'] = df['ICU-CCB_beds_per_100000'].fillna(df['ICU-CCB_beds_per_100000'].mean())

##### fill sex_male_to_female_total with mean

In [65]:
df['sex_male_to_female_total']

0     0.97
1     0.93
2     0.97
3     0.96
4     0.97
5     1.00
6     1.01
7     0.93
8     0.94
9     0.99
10    0.98
11     NaN
12    0.95
13    0.97
14    0.86
Name: sex_male_to_female_total, dtype: float64

In [66]:
mean = df['sex_male_to_female_total'].mean()
df['sex_male_to_female_total'] = df['sex_male_to_female_total'].fillna(df['sex_male_to_female_total'].mean())

##### Fill 'airport_traffic_2018_thousands' with mean

In [67]:
df['airport_traffic_2018_thousands']

0      13639487.0
1       2093577.0
2             NaN
3      70188028.0
4     110000000.0
5     168000000.0
6       7404373.0
7      27630436.0
8     126000000.0
9     165000000.0
10     43996045.0
11            NaN
12      1094762.0
13     28857994.0
14      7854842.0
Name: airport_traffic_2018_thousands, dtype: float64

In [68]:
mean = df['airport_traffic_2018_thousands'].mean()
df['airport_traffic_2018_thousands'] = df['airport_traffic_2018_thousands'].fillna(df['airport_traffic_2018_thousands'].mean())

#####  Fill first_school_closure_date with Belgium one

In [69]:
df['first_school_closure_date']

0     2020-03-13 00:00:00
1     2020-03-12 00:00:00
2     2020-03-13 00:00:00
3     2020-03-03 00:00:00
4     2020-03-03 00:00:00
5     2020-03-12 00:00:00
6     2020-03-12 00:00:00
7     2020-02-24 00:00:00
8     2020-03-02 00:00:00
9                     NaN
10    2020-03-16 00:00:00
11    2020-03-11 00:00:00
12    2020-03-16 00:00:00
13    2020-03-12 00:00:00
14    2020-03-06 00:00:00
Name: first_school_closure_date, dtype: object

In [70]:
df['first_school_closure_date'] = df['first_school_closure_date'].fillna(df['first_school_closure_date'][0])

In [71]:
df.isna().sum().sum()

0

# Add data to JH dataset

In [72]:
dfConfirmed = pd.read_csv("time_series_covid19_confirmed_global.csv")
dfDeath = pd.read_csv("time_series_covid19_deaths_global.csv")
dfRecovered = pd.read_csv("time_series_covid19_recovered_global.csv")

cases = [dfConfirmed,dfDeath,dfRecovered]

In [85]:
df['Timestamp']= pd.to_datetime(df['Timestamp']) 
df['Timestamp'].apply(lambda x: x.strftime('%m/%d'))

0     04/10
1     04/15
2     04/24
3     04/10
4     04/15
5     04/10
6     04/10
7     04/10
8     04/25
9     04/10
10    04/10
11    04/24
12    04/10
13    04/10
14    04/23
Name: Timestamp, dtype: object

##### preprocess JH dataset

In [86]:
countryNamesQ = list(df.country)

In [87]:
def preprocessJh(df,countryNamesQ):
    df = df[df['Province/State'].isnull()]
    df = df.drop(['Province/State','Lat', 'Long'],axis=1)
    df = df[df['Country/Region'].isin(countryNamesQ)]
    return df

for i in range(len(cases)): 
    cases[i] = preprocessJh(cases[i],countryNamesQ)

## Add countryinfo to JH dataset

Get for every country time series data 
Add to every time series data the country info

In [92]:
Belgium

Country/Region    Belgium
1/22/20                 0
1/23/20                 0
1/24/20                 0
1/25/20                 0
                   ...
5/3/20              49906
5/4/20              50267
5/5/20              50509
5/6/20              50781
5/7/20              51420
Name: 23, Length: 108, dtype: object

In [132]:
columns = ['confirmed','recovered','death']
index = Belgium.index

In [135]:
BelgiumC = cases[0].iloc[0].T
BelgiumR = cases[1].iloc[0].T
BelgiumD = cases[2].iloc[0].T

c = pd.DataFrame(list(BelgiumC), index=index)
r = pd.DataFrame(list(BelgiumR), index=index)
d = pd.DataFrame(list(BelgiumD),index=index)
c = c.iloc[1:,:]
r = r.iloc[1:,:]
d = d.iloc[1:,:]
Belgium = pd.concat([c, r,d], axis=1, sort=False)
Belgium.columns = columns
Belgium

        confirmed recovered  death
1/22/20         0         0      0
1/23/20         0         0      0
1/24/20         0         0      0
1/25/20         0         0      0
1/26/20         0         0      0
...           ...       ...    ...
5/3/20      49906      7844  12309
5/4/20      50267      7924  12378
5/5/20      50509      8016  12441
5/6/20      50781      8339  12731
5/7/20      51420      8415  12980

[107 rows x 3 columns]

In [143]:
Belgium['Start_lockdown'] = '3/18/2020'
Belgium['Start_lockdown'].to_datetime(Belgium['Start_lockdown'])
# Belgium['Start_lockdown'].apply(lambda x: x.strftime('%m/%d'))

AttributeError: 'Series' object has no attribute 'to_datetime'

In [138]:
df

,Timestamp,country,start_date,lockdown_severity,leasure_shopping_prohibited,maximum_together,mentality_grade,government_performance,kindergarten_open_to_vital,highschool_open_to_vital,...,apr_temp,may_temp,jun_temp,july_temp,aug_temp,sept_temp,oct_temp,nov_temp,dec_temp,annual_temp
0,2020-04-10 14:03:47,Belgium,3/18/2020,5.0,1,2.0,7.0,6.0,1,0,...,8.145482,12.398000,15.434529,17.238529,17.183294,14.427412,10.678388,5.761971,3.113924,9.514241
1,2020-04-15 12:15:09,Croatia,3/18/2020,8.0,1,10.0,8.0,9.0,1,1,...,10.247004,14.759786,17.992071,20.039893,19.667285,16.355071,11.349611,5.959764,1.528573,10.470911
2,2020-04-24 08:17:43,Denmark,3/11/2020,5.0,1,10.0,3.0,5.0,0,0,...,5.867971,10.773036,14.401786,15.891429,15.902357,13.007679,9.359057,4.942146,1.645598,7.818978
3,2020-04-10 14:02:19,France,3/16/2020,7.1,1,2.0,7.4,7.4,1,0,...,9.096851,12.717758,16.097942,18.603865,18.228694,15.782718,11.746692,6.690055,3.865740,10.543722
4,2020-04-15 12:02:17,Germany,3/20/2020,6.0,1,2.0,7.0,8.0,1,1,...,7.687484,12.273226,15.496893,17.188080,16.968642,13.902305,9.431784,4.270517,0.880768,8.504452
5,2020-04-10 12:24:15,Ireland,3/24/2020,6.8,1,3.0,7.8,8.8,0,0,...,7.694678,10.073630,12.799054,14.526135,14.276838,12.459108,10.081162,6.610897,5.446403,9.107924
6,2020-04-10 20:23:04,Israel,4/2/2020,9.0,1,4.0,10.0,10.0,0,0,...,18.818000,21.895714,24.751714,26.449429,26.681571,25.123857,22.219000,17.569286,13.401857,19.698000
7,2020-04-10 14:02:19,Italy,3/10/2020,8.0,1,1.0,8.0,6.4,0,0,...,9.612692,13.777579,17.524698,20.305087,20.144344,17.185813,12.856856,8.012446,4.398412,11.500694
8,2020-04-25 15:36:01,Japan,4/7/2020,5.0,1,10.0,5.0,4.0,1,0,...,8.702060,13.524019,17.340918,21.338652,22.744000,18.757239,12.777206,7.053675,1.748080,10.362726
9,2020-04-10 12:36:01,United Kingdom,3/23/2020,7.0,1,2.0,7.5,7.0,1,0,...,6.742380,9.815439,12.765885,14.435399,14.286812,12.213888,9.472010,5.524062,3.849172,8.310239
10,2020-04-10 10:54:06,Netherlands,3/23/2020,5.0,0,3.0,7.0,8.0,1,1,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.347350,5.916237,3.490613,9.201738
11,2020-04-24 07:53:23,North Macedonia,3/19/2020,7.0,1,2.0,5.0,7.0,0,0,...,9.233964,13.985727,17.421182,19.846727,19.731727,16.310454,10.784882,5.366073,0.732434,9.853518
12,2020-04-10 12:46:22,Slovenia,3/16/2020,7.5,1,2.0,8.0,8.0,0,0,...,7.578856,12.163411,15.398967,17.378222,16.942333,13.865478,9.208933,3.580752,-0.791111,8.040211
13,2020-04-10 12:03:11,Switzerland,3/17/2020,8.0,1,5.0,9.0,7.0,0,0,...,3.347776,7.440950,10.780000,13.034811,12.544911,10.136311,6.080744,1.052785,-1.959079,4.749057
14,2020-04-23 18:32:39,Ukraine,3/15/2020,5.7,1,2.0,5.3,4.4,0,0,...,9.085106,15.090398,18.421490,19.950162,19.344385,14.776107,8.625605,2.807330,-1.976805,8.205566

# Feature engineering

In [78]:
import numpy as np

In [82]:
categorical = []
for i in df.columns: 
    if isinstance(df[i][0],np.int64):
        categorical.append(str(i))

In [83]:
categorical

['leasure_shopping_prohibited',
 'kindergarten_open_to_vital',
 'highschool_open_to_vital',
 'university_open_to_vital',
 'going_out_for_dinner_prohibited_all',
 'grocery_shopping_(supermarket)_prohibited_all',
 'leaving_the_house_for_no_reason_prohibited_all',
 'leisure_activities_like_cinemas_and_theatres_prohibited_all',
 'ordering_food_prohibited_all',
 'public_transportation_prohibited_all',
 'sports_games_prohibited_all',
 'hospital_open_to_vital',
 'none_open_to_vital',
 'none__open_to_vital',
 '_closed_to_everyone',
 'bars_closed_to_everyone',
 'highschool_closed_to_everyone',
 'kindergarten_closed_to_everyone',
 'restaurants_closed_to_everyone',
 'shops_other_than_supermarkets_closed_to_everyone',
 'university_closed_to_everyone',
 'protection_Not at all',
 'protection_Only for any healthcare worker',
 'protection_Only for hospital staff',
 'protection_Sufficient for everyone',
 'Density_KM2m']

In [87]:
dfCat = df[categorical]
dfCat = dfCat.drop(['Density_KM2m'],axis=1)

In [88]:
dfCat

,leasure_shopping_prohibited,kindergarten_open_to_vital,highschool_open_to_vital,university_open_to_vital,going_out_for_dinner_prohibited_all,grocery_shopping_(supermarket)_prohibited_all,leaving_the_house_for_no_reason_prohibited_all,leisure_activities_like_cinemas_and_theatres_prohibited_all,ordering_food_prohibited_all,public_transportation_prohibited_all,...,bars_closed_to_everyone,highschool_closed_to_everyone,kindergarten_closed_to_everyone,restaurants_closed_to_everyone,shops_other_than_supermarkets_closed_to_everyone,university_closed_to_everyone,protection_Not at all,protection_Only for any healthcare worker,protection_Only for hospital staff,protection_Sufficient for everyone
0,1,1,0,0,1,0,1,1,0,0,...,1,1,1,1,1,1,0,1,0,0
1,1,1,1,1,1,0,0,1,0,0,...,1,1,1,1,1,1,0,0,0,1
2,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,0,0,1,0,1,1,0,0,...,1,1,0,1,1,1,0,1,0,0
4,1,1,1,0,1,0,0,1,0,0,...,1,0,0,1,1,0,0,1,0,0
5,1,0,0,0,1,0,1,1,0,0,...,1,1,1,1,1,1,0,1,0,0
6,1,0,0,0,1,0,1,1,0,1,...,1,1,1,1,1,1,0,1,0,0
7,1,0,0,0,1,0,1,1,0,0,...,1,1,1,1,1,1,1,0,0,0
8,1,1,0,0,0,0,0,1,0,0,...,1,1,1,0,0,1,0,0,1,0
9,1,1,0,0,1,0,0,1,0,0,...,1,1,0,1,1,1,0,0,1,0
10,0,1,1,0,1,0,1,1,0,0,...,1,1,0,1,0,1,1,0,0,0
11,1,0,0,0,1,0,1,1,0,0,...,1,1,1,1,0,1,0,0,0,1
12,1,0,0,0,1,0,0,1,0,0,...,1,1,1,1,1,1,0,0,1,0
13,1,0,0,0,1,0,0,1,0,0,...,1,1,1,1,1,1,0,1,0,0
14,1,0,0,0,1,0,0,1,0,0,...,1,1,1,1,1,1,0,0,0,1

In [146]:
m,n = 2,4
Matrix = [["a" for x in range(m)] for y in range(n)] 
Matrix

[['a', 'a'], ['a', 'a'], ['a', 'a'], ['a', 'a']]